.terminal {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: -1;
}

.scrollSpace {
  height: 200vh;
  cursor: none;
}

.sections {
  margin-top: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 8rem;
}

.sectionButton {
  width: 50vw;
  height: 4rem;
  border: none;
  color: black;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  background-color: rgba(154, 255, 102, 0.4);
  backdrop-filter: blur(5px);
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: black 0 0 10px;
}

.sectionButton:hover {
  transform: scale(1.1);
}
