.terminal {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: -1;
  background: #000;
}

.scrollSpace {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 200vh;
  cursor: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(100vh + var(--char-height) * 8);
}

.profile {
  border-radius: 50%;
  opacity: 0.8;
  backdrop-filter: blur(5px);
  transform: translate(35vw);
  width: calc(100vw / 80 * 10);
  height: calc(100vw / 80 * 10);
}
